# changeable files
example_scenes.py
playground.py

# media files
/cache/
/images/
/videos/
*.mp4
*.png

# IDE (vscode) related
/.vscode/
*.code-workspace
/.VSCodeCounter/

# python cache
__pycache__/
*.pyc

# files that are not meant to be kept track of
roadmap.md
devlog.md